<div class="col-lg-7">
  <div class="card">
    <div class="card-header">
      Agregar Empleado
    </div>
    <div class="card-body">
      <form [formGroup]="formularioDeEmpleado" (ngSubmit)="enviarDatos()" class="d-inline">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="" formControlName="nombre" id="" placeholder="Nombre">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="" formControlName="apellido" id="" placeholder="Apellido">
          <label for="floatingInput">Apellido</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="" formControlName="correo" id="" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <button type="submit" class="btn btn-success">Agregar</button>
        <button type="button" class="btn btn-primary">Cancelar</button>
      </form>
    </div>
  </div>
</div>
