<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      Empleados
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Edgar</td>
              <td>Pérez</td>
              <td>ed@gmail.com</td>
              <td> <a class="btn btn-warning" routerLink="/editar-empleado/1"> Editar</a> | <a class="btn btn-danger">Borrar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
